
@{
    ViewBag.Title = "HelloWorld";
}

<div class="row" style="margin-top:20px;" ng-app>
    <div class="col-lg-12">
        <div>
            Name: <input ng-model="name" type="text" />
            Hello {{name}}
        </div>
    </div>
</div>



