
@{
    ViewBag.Title = "Example3";
}

<div class="row" style="margin-top:20px;" ng-app>
    <div class="col-lg-12">
        <div>
            First name: <input ng-model="firstName" type="text" />
            <br />
            Last name: <input ng-model="lastName" type="text" />
            <br />

            Hello {{firstName}} {{lastName}}
        </div>
    </div>
</div>
